html
 include includes/Head.pug

main
    .container(style="margin-top: 100px")
        h1.text-center Contacte al Desarrollador
        form(action="", method="post")
            .form-group
                label Nombre Completo
                input.form-control(type="text", name="")