html
 include includes/Head.pug

main
    .container(style="margin-top: 100px")
        h1.text-center Estoy es la pagina de Inicio
        p Use this document as a way to quick start any new project.
        p All you get is this message and a barebones HTML document.